@model IEnumerable<Warehouse.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Customer List</h2>
        </div>
        <div class="col-6 text-lg-right">
            <partial name="_CreateButtonPartial"  />
        </div>
    </div>
    <br />

@*Things to Add: 1. Filter Fucntion
                 2. theme
                 3. Back to Dashboard button*@
    <div>
        @if (Model.Count() > 0)
        { 
           <table class="table table-striped border">
               <tr class="table-secondary">
                   <th>
                       @Html.DisplayNameFor(m => m.Id)
                   </th>
                   <th>
                       First Name
                   </th>
                   <th>
                       Last Name
                   </th>

                   <th></th>
               </tr>
               

            @foreach (var item in Model) {
           <tr>


               <td>
                   @Html.DisplayFor(m => item.Id)
               </td>
               <td>
                   @Html.DisplayFor(m => item.FName)
               </td>
               <td>
                   @Html.DisplayFor(m => item.LName)
               </td>
               <td>
                   <partial name="_TableButtonPartial" model="item.Id" />
               </td>
           </tr>
            }
           </table>
        }
        else
        {
               <p>No Customers exists...</p>
        }
    </div>
</div>