@model Employee
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info"> Delete Category</h2>
<br />

<form method="post" asp-action="Delete">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="EfName" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="EfName" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ElName" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="ElName" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="EEmail" class="control-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="EEmail" class="form-control" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>