@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    
</header>

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <p>You have successfully logged out of the application.</p>
    </div>
</div>
