@model IEnumerable<Warehouse.Models.Inventory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<p>
    <a asp-area="Admin" asp-controller="Category" asp-action="Index">Go To Category List</a>
</p>